@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

// Colors
$blue: #009edb;
$yellow: #ffe927;
$body-bg-color: $blue;
$accent-color: $yellow;
$heading-primary: #ffffff;

//font

$ff-serif: "Roboto Slab", serif;
$ff-sans-serif: "Montserrat", sans-serif;
