@use "../variables" as *;

.features-section {
    margin-top: 13.5rem;

    text-align: center;
}

.feature {
    text-align: left;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    margin-bottom: 6.25rem;
    gap: 6.25rem;
    h3 {
        color: $blue;
        margin-bottom: 1.5rem;
    }
    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }
}
