@use "../variables" as *;

header {
    padding-block: 2.5rem;
    z-index: 8;

    position: fixed;
    width: 100%;
    transition: background-color 250ms ease;
    // background-color: $blue-green;

    .container {
        display: flex;
        align-items: center;
    }

    &.add-highlight {
        background-color: $blue-green;
    }
}

.main-nav {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    ul {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        &:first-of-type {
            // margin-block: auto;
            gap: 2.8rem;
        }

        &:last-of-type {
            gap: 1.25rem;
            li {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}
