@use "../variables" as *;

header {
    padding-block: 1.5rem;
    z-index: 8;
    background-color: $blue-green;
    position: fixed;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo img {
    width: 80px;
}

nav {
    ul {
        display: flex;
        gap: 2.5rem;
    }
}
