@use "../variables" as *;

footer {
    background-color: $blue-dark-var;
    color: $white;
    padding-block: 2.5rem;
    margin-top: 6.125rem;
    text-align: center;
    a,
    h2 {
        font-size: 1.25rem;
    }
    h2 {
        margin-bottom: 1.5rem;
    }
}

.copyright {
    font-size: 0.75rem;
}

.site-map,
.socials {
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: center;
}

.site-map {
    gap: 5rem;
}
.socials {
    gap: 1rem;
}
