@use "../variables" as *;

header {
    padding-block: 0.8rem;
    z-index: 8;

    position: fixed;
    width: 100%;
    transition: background-color 250ms ease;

    .container {
        display: flex;
        align-items: center;
    }

    &.add-highlight {
        background-color: $blue-green;
    }
}

.logo img {
    width: 80px;
}

nav {
    display: flex;

    ul {
        display: flex;
        &:first-of-type {
            margin-block: auto;
        }

        li {
            margin-left: 2rem;
        }
    }
}
