@use "../variables" as *;

.hero {
    padding-top: 10vh;
    background-image: url("/landing-page/assets/images/cloud-image.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: $blue;
}

.hero-text {
    color: $heading-primary;
    h1,
    p {
        width: 70%;
        line-height: 1.4;
        margin-block: 1.8rem;
    }
    p {
        font-size: 2rem;
    }
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero-image {
    position: relative;
    z-index: 5;

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    &:after {
        inset: 2rem;
        background-image: linear-gradient(to bottom, $blue-green, $gray);

        z-index: -3;
        box-shadow: 0px 0px 18px 12px white;
    }
    &:before {
        inset: 4rem;
        background-image: linear-gradient(to bottom, #f6f877, #cbcbb9);
        z-index: -2;
        box-shadow: 0px 0px 18px 12px white;
    }
}
