@use "./variables" as *;

:root {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    font-family: $ff-sans-serif;
    line-height: 1.25;
    color: $dark;
}

.container {
    width: 88%;
    max-width: 1528px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1270px;
}

h1 {
    font-size: 4rem;
    line-height: 1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $white;
    transition: all 250ms ease;
    &:hover {
        color: $accent-color;
    }
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-default {
    font-size: 0.75rem;
    display: block;
    cursor: pointer;
    border: none;
    padding-block: 1.25rem;
    text-align: center;
    font-weight: 700;
    border-radius: $radius;
    font-size: 1.2rem;
    transition: all 250ms ease;
}

.btn-inline-size {
    padding-inline: 4.3rem;
    display: inline-block;
}

.btn-accent {
    background-color: $accent-color;
    color: $dark;
    &:hover {
        color: $accent-color;
        background-color: $dark;
    }
}

.btn-clear {
    background-color: transparent;
    border: 1px solid;
    &:hover {
        background-color: $dark;
        color: $white;
        border-color: transparent;
    }
}

.btn-clear-dark {
    color: $blue-green;
}

.btn-subscribe {
    font-size: 0.875rem;
    padding-block: 0.75rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.btn-subscribe-dark {
    color: $white;
    background-color: $dark-green;
    border: 1px solid transparent;

    &:hover {
        background-color: $white;
        color: $dark-green;
        border-color: $dark-green;
    }
}

.btn-subscribe-light {
    color: $dark-green;
    background-color: white;
    border: 1px solid;
    &:hover {
        color: $white;
        background-color: $dark-green;
    }
}
