@use "./variables" as *;

:root {
    font-size: 1rem;
}

body {
    font-family: $ff-sans-serif;
    line-height: 1.25;
    color: $dark;
}

.container {
    width: 88%;
    max-width: 1528px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1270px;
}

h1 {
    font-size: 4rem;
    line-height: 1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $white;
    transition: all 250ms ease;
    &:hover {
        color: $accent-color;
    }
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-default {
    font-size: 0.75rem;
    cursor: pointer;
    border: none;
    padding-block: 1.25rem;
    padding-inline: 5.25rem;
    font-weight: 700;
    border-radius: 12px;
    font-size: 1.2rem;
    display: inline-block;
    transition: all 250ms ease;
}

.btn-accent {
    background-color: $accent-color;
    color: $dark;
    &:hover {
        color: $accent-color;
        background-color: $dark;
    }
}

.btn-clear {
    background-color: transparent;
    border: 1px solid;
}

.btn-clear-dark {
    color: $blue-green;
}
