@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

// Colors
$blue: #009edb;
$blue-dark-var: #187c99;
$yellow: #ffe927;
$white: #ecf5f9;
$dark: #0b1e25;
$accent-color: $yellow;
$heading-primary: $white;
$radius: 0.75rem;

$blue-green: #107b98;
$gray: #cbcbb9;
$dark-green: #223d44;

//font

$ff-serif: "Roboto Slab", serif;
$ff-sans-serif: "Montserrat", sans-serif;
