@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  font-size: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #009edb;
  line-height: 1.25;
}

.container {
  width: 88%;
  max-width: 1528px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  color: #ffffff;
}

h2 {
  font-size: 2.5rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 350ms ease;
}
a:hover {
  color: #ffe927;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-default {
  font-size: 0.75rem;
  cursor: pointer;
  background-color: #ffe927;
  border: none;
  padding-block: 1.25rem;
  padding-inline: 5.25rem;
  font-weight: 700;
  border-radius: 12px;
}

header {
  padding-block: 1.5rem;
  z-index: 8;
  background-color: #107b98;
  position: fixed;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 80px;
}

nav ul {
  display: flex;
  gap: 2.5rem;
}

.hero {
  padding-top: 10vh;
  background-image: url("/landing-page/assets/images/cloud-image.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero-text {
  color: #ffffff;
}
.hero-text h1,
.hero-text p {
  width: 70%;
  line-height: 1.4;
  margin-block: 1.8rem;
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero-image {
  position: relative;
}
.hero-image img {
  z-index: -1;
}
.hero-image::before, .hero-image::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.hero-image:after {
  top: 5rem;
  left: 4.5rem;
  right: 4.5rem;
  bottom: 5rem;
  background-image: linear-gradient(to bottom, #107b98, #cbcbb9);
  z-index: -3;
  box-shadow: 0px 0px 18px 12px white;
}
.hero-image:before {
  top: 7rem;
  left: 6.5rem;
  right: 6.5rem;
  bottom: 7rem;
  background-image: linear-gradient(to bottom, #f6f877, #cbcbb9);
  z-index: -2;
  box-shadow: 0px 0px 18px 12px white;
}

.about-section {
  background-color: #ffffff;
  padding-top: 4.68rem;
  min-height: 100vh;
}

.about-images {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  grid-template-areas: "veg veg" " mat heart-mon" "mat .";
}
.about-images li:nth-of-type(1) {
  grid-area: veg;
}
.about-images li:nth-of-type(2) {
  grid-area: mat;
}
.about-images li:nth-of-type(3) {
  grid-area: heart-mon;
}

.about-section .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.about-text {
  width: 80%;
  margin-left: 2rem;
}
.about-text h2,
.about-text p {
  width: inherit;
}

/*# sourceMappingURL=main.css.map */
